* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.938em;
    padding-top: 4.5em;
}

/* header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    box-shadow: 0 0.125em 0.313em rgba(0, 0, 0, 0.1);
}

/*navegación*/

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*logo*/

.logo img {
    height: 4em;
    width: auto;
    margin-left: 0.5em;
}

/*buscador con lupa*/

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
}

.search-wrapper input {
    width: 100%;
    min-width: 40em;
    height: 2.5em;
    padding: 0.5em 0.6em 0.5em 2.2em;
    border-radius: 0.75em;
    border: 0.125em solid rgb(232, 230, 230);
    font-size: 1em;
}

.search-wrapper input:focus {
    outline: 0.125em solid rgb(2, 48, 71);
    box-shadow: none;
}

.search-icon {
    position: absolute;
    left: 0.6em;
    height: 1.2em;
    width: auto;
    padding-left: 0.2em;
    pointer-events: none;
}


/*Menu principal*/

.menu {
    list-style: none;
    display: flex;
    gap: 1.5em;
    margin: 0;
}

.menu li {
    background-color: rgb(255, 255, 255);
    border-radius: 0.75em;
}

.menu a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 0.875em;
}

.menu li:hover {
    background-color: rgb(181, 210, 224);
}

/*Botón login*/
.login {
    font-weight: 400;
    font-size: 0.875em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em 1em;
    background: rgb(2, 48, 71);
    border-radius: 0.75em;
    transition: 0.3s;

}

.login:hover {
    background: rgb(255, 183, 3);
    color: rgb(0, 0, 0);
}

/*carrito con contador*/

.cart {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.6em;
    border-radius: 0.75em;
    color: rgb(255, 255, 255);
    font-size: 0.875em;
    transition: 0.3s;
    margin-right: 2.5em;
}

.cart:hover {
    background: rgb(255, 183, 3);
}

.cart img {
    height: 1.5em;
    width: auto;
}

.cart-count {
    position: absolute;
    top: -0.3em;
    right: -0.6em;
    background: rgb(2, 48, 71);
    color: rgb(255, 255, 255);
    font-size: 0.75em;
    font-weight: 600;
    padding: 0.15em 0.5em;
    border-radius: 50%;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1em;
}

/*Main*/


/*Slider-Cursos-Recomendados*/

.suggested-courses {
    margin-top: 4.5em;
    display: flex;
    gap: 3.5em;
    padding: 2.25em;
    align-items: center;
}

/*info inicial*/
.first-info {
    flex: 1;
}

.first-info h2 {
    margin-bottom: 0.625em;
    font-size: 2em;
    color: rgb(2 48 71)
}

.first-info p {
    font-size: 1em;
    line-height: 1.5;
    color: rgb(2 48 71);

}

/*contenedor slider*/
.slider {
    display: flex;
    gap: 1.25em;
    flex: 2;
}

/*Tarjeta individual*/
.slider-card {
    min-width: 24em;
    max-width: 18em;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.5em rgb(2 48 71);
}

.curso-recomendado {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.students-icon {
    width: 3em !important;
    height: auto;
    margin: 0.5em
}

.students {
    display: flex;
    align-items: center;
    gap: 0.3125em;
    margin-bottom: 0.3125em;
}

.students-icon {
    width: 3em !important;
    height: auto;
    margin: 0.5em
}

.students-text {
    font-size: 0.875em;
    color: rgb(2 48 71);
}

.slider-card h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(2 48 71);
    margin-bottom: 0.625em;
    padding: 0.625em;
    line-height: 1.3em;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.slider-arrows {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.slider-arrows button {
    background: none;
    border: none;
    cursor: pointer;
}

.slider-arrows img {
    width: 2.5em;
    height: auto;
}

/*Seccion-Pasos*/
.steps-to-enroll {
    padding: 2em;
    color: rgb(2, 48, 71);
    background-color: #e3f2f8;
}

.steps-to-enroll h2 {
    font-size: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.steps-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.step-card {
    background-color: white;
    border-radius: 0.75em;
    box-shadow: 0 0.25em 0.5em rgba(2, 48, 71, 0.2);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    text-align: center;
}

.step-number {
    width: 3em;
    height: 3em;
    background-color: rgb(2, 48, 71);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.step-text h3 {
    margin: 0 0 0.5em 0;
    font-size: 1.2em;
}

.step-text p {
    margin: 0;
    font-size: 1em;
    line-height: 1.4em;
}

/* Sección Cursos Destacados */
.highlighted-courses {
    padding: 2em;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 48, 71);
}

.highlighted-courses h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
    color: rgb(2, 48, 71);
}

.wrapper-courses {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    border-radius: 1.5em;
    max-width: 23em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgb(2, 48, 71), rgb(33, 158, 188));
    align-items: center;
}

.box img {
    width: 100%;
    height: 14em;
    border-radius: 1.4em;
    object-fit: cover;
}

.box h3 {
    font-size: 1.5em;
    margin: 0.5em 0 0.25em 0;
}

.box p {
    font-size: 1em;
    margin: 0.2em 0;
}

.button {
    margin-top: 1em;
    padding: 0.5em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.75em;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 183, 3);
    color: rgb(2, 48, 71);
    transition: background 0.3s;
}

.button:hover {
    background-color: rgb(3, 93, 138);
    color: #fff;
}

@media screen and (min-width: 48em) {
    .box {
        flex: 1 1 calc(50% - 2em);
    }
}

@media screen and (min-width: 60em) {
    .box {
        flex: 1 1 calc(33.3% - 2em);
    }
}

/*Sección Gift Card*/
.gift-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-inline-size: 134em;
    padding: 2.4em;
    background-color: rgb(2, 48, 71);
    border-radius: 2.4em;
    color: rgb(255, 255, 255);
    margin: 4.8rem;
    gap: 2em;
}

.gift-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-width: 50%;
}

.gift-card img {
    max-inline-size: 40%;
    height: auto;
    display: block;
}

.gift-card h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.gift-card p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1em;
}

.gift-card-button {
    display: inline-block;
    padding: 0.8em 1.5em;
    background-color: #ffb703;
    color: #023047;
    border-radius: 0.5em;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 48em) {
    .gift-card {
        flex-direction: column;
        text-align: center;
    }

    .gift-card-wrapper {
        max-width: 100%;
    }

    .gift-card-img {
        max-inline-size: 70%;
        margin-top: 1em;
    }
}


/*Footer*/

footer {
    background-color: rgb(2, 48, 71);
    color: rgb(255, 255, 255);
    padding: 2em 1em;
    font-size: 0.813em;
    font-weight: 400;
}

/*Contenedor de las 3 columnas*/

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0 1em;
}

/*por columna*/

.footer-logo {
    display: flex;
    align-items: start;
    justify-content: left;
    flex: 1;
    min-width: 10em;
}

.footer-logo img {
    height: 5em;
    width: auto;
    margin-top: -1em;
}


.footer-datos,
.footer-menu,
.footer-redes {
    flex: 1;
    min-width: 15em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/*Títulos de cada columna*/
footer h3 {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
}

/*Lista del menú*/

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-menu a:hover {
    color: rgb(255, 183, 3);
}

/*Redes sociales*/
.footer-redes a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 0.5em;
}

.footer-redes a:hover {
    color: rgb(255, 183, 3);
}

.footer-redes img {
    width: 1.2em;
    height: 1.2em;
}

.footer-copy {
    text-align: center;
    margin-top: 2em;
    font-size: 0.875em;
    color: rgb(255, 255, 255, 0.7);
}

/*Responsive */

@media (max-width: 48em) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5em;
    }

    .footer-redes a {
        justify-content: center;
    }
}