* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.938em;
    height: 100vh;
}

/* header*/
header {
    width: 100%;
    height: 4.5em;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    box-shadow: 0 0.125em 0.313em rgba(0,0,0,0.1);
}

/*navegación*/

nav {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

/*logo*/

.logo img {
    height: 4em;
    width: auto;
    margin-left:0.5em;
}

/*buscador con lupa*/

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
}

.search-wrapper input {
    width: 100%;
    min-width: 40em;
    height: 2.5em;
    padding: 0.5em 0.6em 0.5em 2.2em;
    border-radius: 0.75em;
    border: 0.125em solid rgb(232,230,230);
    font-size: 1em;
}

.search-wrapper input:focus {
    outline: 0.125em solid rgb(2, 48, 71); 
    box-shadow: none; 
}


.search-icon {
    position: absolute;
    left: 0.6em;
    height: 1.2em;
    width: auto;
    padding-left: 0.2em;
    pointer-events: none;
}

/*Menu principal*/

.menu {
    list-style: none;
    display: flex;
    gap: 1.5em;
    margin:0;
}

.menu li{
    background-color: rgb(255, 255, 255);
    border-radius: 0.75em;
}

.menu a{
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 0.875em;
}

.menu li:hover {
    background-color: rgb(181, 210, 224);
}

/*Botón login*/
.login {
    font-weight: 400;
    font-size: 0.875em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em 1em;
    background: rgb(2, 48, 71);
    border-radius: 0.75em;
    transition: 0.3s;

}

.login:hover{
    background: rgb(255,183,3);
    color: rgb(0, 0, 0);
}

/*carrito con contador*/

.cart {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.6em;
    border-radius: 0.75em;
    color: rgb(255, 255, 255);
    font-size: 0.875em;
    transition: 0.3s;
    margin-right: 2.5em;
}

.cart:hover {
    background: rgb(255,183,3);
}

.cart img{
    height: 1.5em;
    width: auto;
}

.cart-count {
    position: absolute;
    top: -0.3em;
    right: -0.6em;
    background: rgb(2, 48, 71);
    color: rgb(255, 255, 255);
    font-size: 0.75em;
    font-weight: 600;
    padding: 0.15em 0.5em;
    border-radius: 50%;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap:1em;
}

.quienes-somos-section {
    padding: 2em 10em 3em 10em;
    margin: 3.5em 0 2em 0;
    background-color: rgba(232, 230, 230, 0.4);
}

h1, h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 2rem;
    color: rgb(2 48 71);
}

.quienes-somos-img {
    float: right;
    width: 45%;
    height: auto;
    margin: 5.5em 0 2em 4.8em;
    box-shadow:  10px 10px 0px -1px rgba(0,0,0,0.2);
}

.quienes-somos-primer-parrafo {
    margin-bottom: 1.5rem;
}

p {
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    line-height: 1.6;
}

.nuestra-mision-section {
    padding: 2em 10em 3em 10em;
    margin: 6em 0 2em 0;
    background-color: rgba(232, 230, 230, 0.4);
}

.nuestra-mision-primer-parrafo {
    margin-bottom: 1.5rem;
}

.nuestra-mision-img {
    float: left;
    width: 45%;
    height: auto;
    margin: 5.5em 4.8em 2em 0;
    box-shadow:  -10px 10px 0px -1px rgba(0,0,0,0.2);
}

.estadisticas-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 4rem 2rem;
    margin: 4.5rem;
}

.estadistica-item {
    text-align: center;
}

.estadistica-numero {
    font-size: 3.1em;
    font-weight: 700;
    color: rgb(255 183 3);
    display: block;
    margin-bottom: 0.7em;
    line-height: 1;
}

.estadistica-descripcion {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.4;
    color: black;
}